<footer>
      <nav class="navbar fixed-bottom bg-body-tertiary">
       <h6 class="navbar-text">&copy; Copyright 2025. All rights reserved</h6>
      </nav>
    </footer>
    <script src="/script/app.js"></script>
  </body>
</html>