<footer class="mt-5">
  <nav class="navbar fixed-bottom navbar-dark bg-dark shadow-sm d-flex justify-content-center">
    <h6 class="navbar-text text-light m-2">
      &copy; Copyright 2025. All rights reserved
    </h6>
  </nav>
</footer>

<script src="/script/app.js"></script>
</body>
</html>
