<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="container">
    <h1><%= title %></h1>

    <form class="form" method="post">
        <div class="form-group">
            <label>Assignment Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>

        <div class="form-group">
            <label>Course</label>
            <input type="text" class="form-control" name="course" required>
        </div>

        <div class="form-group">
            <label>Due Date</label>
            <input type="date" class="form-control" name="dueDate" required>
        </div>

        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" name="status" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" required></textarea>
        </div>
        <br>

        <button class="btn btn-primary" type="submit">
            <i class="fas fa-edit"></i> Submit
        </button>

        <a href="/assignments" class="btn btn-warning">
            <i class="fas fa-undo"></i> Cancel
        </a>
    </form>
</div>

<%- include ../partials/footer.ejs %>
